
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
src/packages/**/*
src/.vs/config/applicationhost.config
src/VERT.Web/client/wwwroot/**/*
src/VERT.Web/styles/**
src/VERT.Web/scripts/**
src/VERT.Web/fonts/**
src/VERT.Web/imgs/**
